# Intermediate and built stuff.
.sass-cache/
/build/
/gen/
*.class
.idea/
.DS_Store

# XCode user-specific stuff.
xcuserdata/

# Dart stuff.
/tool/.dart_tool/
/tool/.packages

# Obsidian
.obsidian

# Firebase
.firebase/*.cache
