@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;900&display=swap');

h1, h2, h3, h4, h5, h6 {
  font-family: 'Inter',
    -apple-system, BlinkMacSystemFont,
    "Helvetica Neue", Helvetica,
    sans-serif;
  font-weight: 900;

  small {
    font-weight: 300;
    margin-right: 1em;
  }

  a {
    text-decoration: none;
  }
}

h1 {
  font-size: 4em;
  letter-spacing: -.0415625em;
  line-height: 1em;
}