
#mc_embed_signup {
  background-color: #eeeeee;
  padding: 0.5rem 30% 2.5rem;
  margin: 2em 0;
  text-align: center;

  font-family: 'Inter',
    -apple-system, BlinkMacSystemFont,
    "Helvetica Neue", Helvetica,
    sans-serif;
  font-weight: 300;

  .form-explanation {
    font-weight: 900;
  }
}
